<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WindowsFormsApplication10.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="WindowsFormsApplication10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <WindowsFormsApplication10.Settings1>
            <setting name="guncelleme" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsFormsApplication10.Settings1>
        <WindowsFormsApplication10.Properties.Settings>
            <setting name="guncelleme" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsFormsApplication10.Properties.Settings>
    </userSettings>
</configuration>
