<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.Database1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb" providerName="System.Data.OleDb"/>
        <add name="WindowsFormsApplication2.Properties.Settings.desen_veritabanıConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\desen_veritabanı.accdb" providerName="System.Data.OleDb"/>
        <add name="WindowsFormsApplication2.Properties.Settings.desen_veritabanıConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=R:\Katalog\desenler\desen_veritabanı.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <WindowsFormsApplication2.Settings1>
            <setting name="guncellemeyapılacakmı" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="arkaplanrenk" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="yazirenk" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="guncellemeyap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="yoneticipanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kısayol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hızlandır" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wfgorunteleyici" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ihrid" serializeAs="String">
                <value>İhracat İD</value>
            </setting>
            <setting name="ihrpas" serializeAs="String">
                <value>İhracat Şifre</value>
            </setting>
            <setting name="kullanımsayisi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ipüzerindenbaglan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eklenmezamanigöster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Darkaplan" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Dyazırengi" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Carkaplan" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="Cyazırengi" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Garkaplan" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Gyazi" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="konumex" serializeAs="String">
                <value />
            </setting>
            <setting name="konumcheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b1" serializeAs="String">
                <value />
            </setting>
            <setting name="b2" serializeAs="String">
                <value />
            </setting>
            <setting name="b3" serializeAs="String">
                <value />
            </setting>
            <setting name="b4" serializeAs="String">
                <value />
            </setting>
            <setting name="b5" serializeAs="String">
                <value />
            </setting>
            <setting name="b6" serializeAs="String">
                <value />
            </setting>
            <setting name="b7" serializeAs="String">
                <value />
            </setting>
            <setting name="b8" serializeAs="String">
                <value />
            </setting>
            <setting name="siyaharkaplan" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication2.Settings1>
    </userSettings>
</configuration>
